<div class="bg">
    <div class="container">
    <div class="row p-3">
    <div class="col-sm-6">
        <ul class="list-unstyled text-center">
            <li>Address:</li>
            <li>11622 Aviation Blvd,</li>
            <li>Inglewood,</li>
            <li>CA 90304</li>
        </ul>
    </div>
    <div class="col-sm-6">
            <ul class="text-center">
                <li class="list-inline-item"><a href="#" ><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" ><i class="fab fa-google-plus-g"></i></a></li>
                <li class="list-inline-item"><a href="#" ><i class="fab fa-facebook-square"></i></a></li>
                <li class="list-inline-item"><a href="#" ><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" ><i class="fab fa-linkedin"></i></a></li>
            </ul>
    <h1 class="text-center m-0">Thanks for visiting, have a nice day</h1>
    </div>
    </div>
    <hr>
    <div class="text-center copy p-1"><i class="far fa-copyright"></i>&nbsp;All rights reserved 2021</div>
</div>
</div>
