
<div *ngIf="!check" class="text-center text-danger p-5 h3">Cart is Empty</div>
<div class="container " *ngIf="display">
       <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-3 g-4  mb-5">
        <div class="col" *ngFor="let  p of users;let ind=index">
          <div class="card" >
            <img src= {{p.imgPath}}  class="card-img-top " >
                  <div class="card-body bg-dark">
                     <h5 class="card-title text-center text-danger"><strong>{{p.name}}</strong></h5>
                     <p class=" p-3 text-white">{{p.description}}</p>
                     <p class=" p-3 text-white">{{p.price}}</p>
                     <div>
                     <button class="bg bg-danger" (click)="delete(p.id)">delete</button>
                     <span class="float-right">
                     <button (click)="callcounterminus(ind)"> -</button>
                     <span class="text-warning p-1">{{this.counter[ind]}}</span>
                     <button (click)="callcounterplus(ind)">+</button>
                    </span>
                    </div>
                   
           </div>
        </div>
    </div>
    </div>
<div *ngIf="check" class="text-center pb-5 " (click)="placeOrder()"><button class="bg bg-success" >Place Order</button></div>
</div>
      <div *ngIf="!display" class="text-warning text-center">
        
         
<table class="table">
  <thead>
  <tr>
  <th>Name</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Total</th>

</tr>
</thead >
<tbody *ngFor="let p of users;let ind=index">
  <tr>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td>{{this.counter[ind]}}</td>
      <td>{{this.counter[ind]*p.price}}</td>
  </tr>
</tbody>
</table>
<h1 class="text-center bg-secondary">
grandtotal={{totalsum}}
</h1>
      </div>