<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-0 col-sm-2 col-md-3"></div>
        <div class=" col-12 col-sm-8 col-md-6 mt-3 mb-3">
          <div class=" bg-dark card card-body  text-white rounded" id="p1">
            <h1 class="display-6 text-center y">Sign in</h1>
            <form #ref="ngForm" (ngSubmit)="ref.form.valid && onLogin(ref)">
                <div class="input-group pt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text x"><i class="fas fa-user py-1"></i></span>
                    </div>
                    <input type="text" class="form-control"  placeholder="Username" name="username" ngModel required minlength="4" #refUsername="ngModel" autocomplete="off">
                </div>
                <div>  
                    <p class="y form-text" *ngIf="(ref.submitted||refUsername.touched)&&refUsername.errors?.required">*
                        Username is required
                    </p>
                    <p class="y form-text" *ngIf="(ref.submitted||refUsername.touched)&&refUsername.errors?.minlength">*
                        Minlength should be 4
                    </p>
                </div>
                <div class="input-group pt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text x"><i class="fas fa-key py-1"></i></span>
                    </div>
                    <input type="password" name="password" ngModel required #refPassword="ngModel" class="form-control" placeholder="Password">
                </div>
                <div>
                    <p class="y form form-text" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.required">*
                        Password is required
                    </p>
                </div>
                <div class="ms-3 py-2">
                <input type="checkbox"  class="me-2">Remember Me
                </div>
                <button class="btn x d-block mx-auto m-2 px-5 py-2" type="submit">Login</button>
            </form>
            <p class="text-center"> Don't have an account?</p>
            <a routerLink="signup" class="y text-center" (click)="go()">Sign Up</a>     
        </div>
        </div>
        <div class=" col-0 col-sm-2 col-md-3"></div>
    </div>
  </div>
  
  
