<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-0 col-sm-2 col-md-3"></div>
        <div class=" col-12 col-sm-8 col-md-6 mt-3 mb-3">
          <div class=" bg-dark card card-body  text-white rounded" id="p1">
            <h1 class="display-6 text-center x">Sign Up</h1>
            <form #ref="ngForm" (ngSubmit)="ref.form.valid">
                <div class="input-group pt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text y"><i class="fas fa-user py-1"></i></span>
                    </div>
                    <input type="text" class="form-control"  placeholder="Username" name="username" ngModel required minlength="4" #refUsername="ngModel" autocomplete="off">
                </div>
                <div>  
                    <p class="x form-text" *ngIf="(ref.submitted||refUsername.touched)&&refUsername.errors?.required">*
                        Username is required
                    </p>
                    <p class="x form-text" *ngIf="(ref.submitted||refUsername.touched)&&refUsername.errors?.minlength">*
                        Minlength should be 4
                    </p>
                </div>
                <div class="input-group pt-2">
                  <div class="input-group-prepend">
                      <span class="input-group-text y"><i class="fas fa-mobile py-1"></i></span>
                  </div>
                  <input type="text" class="form-control"  placeholder="Mobile number" name="number" ngModel required pattern="^(\+\d{1,3}[- ]?)?\d{10}$" #refNumber="ngModel" autocomplete="off">
              </div>
              <div>  
                  <p class="x form-text" *ngIf="(ref.submitted||refNumber.touched)&&refNumber.errors?.required">*
                      Mobile no. is required
                  </p>
                  <p class="x form-text" *ngIf="(ref.submitted||refNumber.touched)&&refNumber.errors?.pattern">*
                      Not valid
                  </p>
              </div>
                <div class="input-group pt-2">
                  <div class="input-group-prepend">
                      <span class="input-group-text y"><i class="fas fa-envelope py-1"></i></span>
                  </div>
                  <input type="email" class="form-control"  placeholder="Email" name="email" ngModel required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" #refEmail="ngModel" autocomplete="off">
              </div>
              <div>  
                  <p class="x form-text" *ngIf="(ref.submitted||refEmail.touched)&&refEmail.errors?.required">*
                      Email is required
                  </p>
                  <p class="x form-text" *ngIf="(ref.submitted||refEmail.touched)&&refEmail.errors?.pattern">*
                      Enter a valid email id
                  </p>
              </div>
                <div class="input-group pt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text y"><i class="fas fa-key py-1"></i></span>
                    </div>
                    <input type="password" name="password" ngModel required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" #refPassword="ngModel" class="form-control" placeholder="Password">
                </div>
                <div>
                    <p class="x form form-text" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.required">*
                        Password is required
                    </p>
                    <ul class="x form form-text" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.pattern">
                        <li>Minimum eight characters</li>
                        <li>Atleast one number</li>
                        <li>Atleast one letter</li>
                        <li>Atleast one special character</li>
                      </ul>
                </div>
                <div class="ms-3 py-2">
                <input type="checkbox"  class="me-2">Remember Me
                </div>
                <button class="btn y z d-block mx-auto m-2 px-5 py-2" type="submit">Sign Up</button>
            </form>
   
        </div>
        </div>
        <div class=" col-0 col-sm-2 col-md-3"></div>
    </div>
  </div>
  
